body
{
	background-color: black;
}
.red
{
    color:red;
}
.orange
{
    color:orange;
}
.yellow
{
    color:yellow;
}
.green
{
    color:green;
}
.blue
{
    color:blue;
}
.purple
{
    color:purple;
}
.pink
{
    color:hotpink;
}
#footer
{
    color:gray;
}
#bijschrift
{
    color:white;
}


