/*

Auteur: Lars van Teeffelen
Aanmaakdatum: 12/02/2020
Laatst bewerkt: 12/02/2020

Omschrijving: CSS bestand voor de homepagina.
*/
@keyframes startup {
    0% {
        
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*
{
    margin: 0px;
    padding: 0px;  
}

body
{
    
    background-color: rgb(100, 100, 200);
}
#logo
{
    animation: startup 3.5s;
    min-width: 200px;
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
#slogan
{
    animation: startup 3.5s;
    width: 50%;
    min-width: 250px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}
@media screen and (max-width: 600px) {
    #logo
    {
        width: 75%;
    }
    #slogan
    {
        width: 90%;
        
    }
}
@media screen and (max-height: 500px) {
    #slogan
    {
        display: none;
    }
}
