/*

Auteur: Lars van Teeffelen
Aanmaakdatum: 12/02/2020
Laatst bewerkt: 12/02/2020

Omschrijving: CSS bestand voor de navigatiebar
*/

/* Vaste positie menu instellen */
@keyframes startup {
    0% {
        
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
*
{
    margin: 0px;
    padding: 0px; 
}
body, html
{
    background-color: rgb(100, 100, 200);
}

#regularMenu
{
   position: sticky; 
   display: block;
}
/* Styling menu */
#regularMenu ul li 
{
    background-color: transparent;
    padding-top: 15px;
    height: 40px;
    list-style: none;
    width: calc(100% / 6 );
    float: left;
    text-align: center;
    
}
#regularMenu ul li a
{
    padding: 5px;
    font-family: Poppins;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/* Styling hoveren over menuknoppen */
#regularMenu ul li a:hover
{
    border-bottom: 2px solid white;
}

/* Standaard word het hamburgermenu niet weergegeven. */
#burgerLogo
{
    cursor: pointer;
    display: none;
}
/* Als het scherm  te klein word. (> 950px) dan word de navigatie weggehaald en een hamburgermenu neergezet. */
@media screen and (max-width: 1000px) {

    /* Locatie hamburger menu knopje definieren. */
    #burgerLogo
    {
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
    }
    /* Opmaak voor het hamburger menu knopje */
    #burgerLogo div
    {
        display: block;
        width: 35px;
        height: 5px;
        margin: 5px;
        background-color: white;
    }
    #regularMenu
    {
        position: sticky;
    }
    #regularMenu ul 
    {
        animation: startup 1.5s;
        padding: 50px 0px 0px 0px;
        border-bottom: 2px solid white;
        height: 120px;
        background-color: rgb(100, 80, 200);
    }
    /* Styling knoppen in hamburgermenu */
    #regularMenu ul li 
    {   
        
        padding: 0px;
        list-style: none;
        width: 50%;
        float: left;
        text-align: center;
    }

}
