/*

Auteur: Lars van Teeffelen
Aanmaakdatum: 12/02/2020
Laatst bewerkt: 12/02/2020

Omschrijving: CSS bestand voor de navigatiebar
*/
nav
{
   position: sticky; 
}
nav ul li 
{
    background-color: transparent;
    padding-top: 15px;
    height: 40px;
    list-style: none;
    width: calc(100% / 6 );
    float: left;
    text-align: center;
    
}
nav ul li a
{
    padding: 5px;
    font-family: Arial;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover
{
    border-bottom: 2px solid white;
}

    
/* Opmaak voor het hamburger menu */
#burger div
{
    width: 35px;
    height: 5px;
    margin: 5px;
    background-color: white;

}
/* Standaard word het hamburgermenu niet weergegeven. */
#burger, #burgerMenu 
{
    cursor: pointer;
    display: none;
}

/* Als het scherm  te klein word. (> 900px) dan word de navigatie weggehaald en een hamburgermenu neergezet. */
@media screen and (max-width: 900px) {
    ul li 
    {
        display: none;
    }
    #burger 
    {
        position: fixed;
        top: 20px;
        right: 30px;
        display: block;
    }
    #burgerMenu
    {
        display: none;
        background-color: gray;
        width: 100%;
        height: 100vh;
        align-content: center;
    
    }
    #burgerMenu li
    {
        width: 150px;
    }
}