/*

Auteur: Lars van Teeffelen
Aanmaakdatum: 12/02/2020
Laatst bewerkt: 1/10/2021

Omschrijving: CSS bestand voor de werkervaring pagina.
*/

body
{
    font-size: 24px;
}
header
{
    height: 200px;
}
/* 
    Styling voor het grote vak in het midden
*/
#vak1
{
    padding: 50px;
    margin: 0 auto;
    background-color: white;
    width: 70%;
    box-shadow: 0px 0px 15px;
    height: auto;
    margin-bottom: 200px;
}
h1, h2, p
{
    width: 100%;
}
h1
{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em;
}
h2
{
    font-size: 1em;
}
h3
{
    font-size: 0.8em;
}
p
{
    font-size: 0.6em;
}
#vak1 div
{
    float: left;
    width: 50%;
    margin-bottom: 150px;
}
#vak1 div > p
{
    width: 90%;
}
#vak1 img 
{
    height: 150px;
    width: 300px;
}





@media screen and (max-width: 900px), screen and (max-width: 900px) and (orientation: landscape) {
    /* Styling vakken */
    #vak1 
    {
        padding: 30px;
        width: 80%;
        height: auto;
    }
    #vak1 div
    {
        width: 100%;
    }
}
@media screen and (max-width: 600px), screen and (max-width: 600px) and (orientation: portrait)  {
    #vak1 
    {
        padding: 30px;
        width: 80%;
        height: auto;
    }
    #vak1 div
    {
        width: 100%;
    }
}
